.auth-card-container-2 {
  background-color: whitesmoke;
}

.auth-card-container-2 h3 {
  text-align: center;
  font-size: 1.4rem;
}

.auth-card-container-2 .lower-border {
  margin: 10px;
}

.auth-card-container-2 .top-auth-links {
  display: flex;
  justify-content: center;

  font-weight: 500;
  border-top: 1px solid lightgray;
}

.auth-card-container-2 .top-auth-links > * {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: crimson;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
}

.auth-card-container-2 .top-auth-links > .auth-link-active {
  background-color: whitesmoke;
  color: black;
}

.auth-card-container-2 .signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.auth-card-container-2 .signin-form .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.auth-card-container-2 .signin-form input {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}

.auth-card-container-2 .signin-form .signin-btn {
  background-color: crimson;
  width: 100%;
  padding: 5px 0;
  font-size: 1.1rem;
  color: white;
  margin-top: 20px;
}
.signin-form .err-msg-container {
  height: 20px;
  color: red;
}
.modal-content > .modal-footer > .okay-btn {
  padding: 5px 15px;
  background-color: crimson;
  color: white;
  box-shadow: 0 0 3px 1px crimson;
  font-size: 1rem;
}
