.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: red;
  width: 70%;
  height: 100vh;
  padding: 10px;
}
.side-nav > .side-navlinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.side-nav > .side-navlinks > li > a {
  padding: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 1.1rem;
  display: inline-block;
}

.side-nav > .side-navlinks > li > a:hover {
  background-color: lemonchiffon;
  color: black;
}
.side-nav > .cross-icon {
  text-align: right;
  font-size: 1.5rem;
}

.side-nav > .cross-icon > span {
  cursor: pointer;
}
