.image-input--container > .image-input--element {
  display: none;
}
.image-input--container > .image-preview--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.image-input--container > .image-preview--container .preview-image {
  width: 200px;
  height: 200px;
}

.image-input--container > .image-preview--container > .preview-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-input--container
  > .image-preview--container
  > .preview-image
  > .image-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-style: italic;
}

.image-input--container > .image-preview--container > .image-picker--btn {
  padding: 5px 15px;
  display: block;
  background-color: crimson;
  box-shadow: 0 0 3px 1px crimson;
  font-size: 1rem;
  font-family: inherit;
  color: white;
  margin-top: 10px;
}
